<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/commons :: head(~{::title})">
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<link rel="stylesheet" th:href="@{/static/css/blog.css}">-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
    <title>后台首页</title>
</head>
<body  class="m-admin-back">
<!--导航-->
<nav th:replace="admin/commons :: menu(0,${session.user.nickname})"></nav>
<div style="margin: 1em !important;">
    <!--semantic自带容器,有响应式效果        -->
    <div class="ui container" style="width: 60%;">
        <div class="ui success large message">
            <h3>你好</h3>
            <p th:text="${session.user.nickname}"></p>
        </div>
        <div class="ui attached segment animated pulse">
            <img src="https://picsum.photos/id/1015/800/450" alt="" class="ui fluid rounded image">
        </div>
    </div>
</div>
<!--底部-->
<footer class="ui inverted vertical segment m-padding-bottom-maximum">
    <div class="ui center aligned container">
        <!--布局-->
        <!--divided:div分割-->
        <div class="ui inverted divided grid stackable">
            <div class="three wide column">
                <div class="ui card centered" style="width: 120px">
                    <img src="../../static/images/wechat.jpg" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-transparent m-text-lined">最新博客</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced m-transparent m-text-lined">
                    <a href="#" class="item">分享生活中的点滴</a>
                    <a href="#" class="item">分享生活中的点滴</a>
                    <a href="#" class="item">分享生活中的点滴</a>
                    <a href="#" class="item">分享生活中的点滴</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-transparent m-text-lined">联系我</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced m-transparent m-text-lined">
                    <a href="#" class="item">QQ: 2424419428</a>
                    <a href="#" class="item">邮箱: qblsiwen@163.com</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-spaced m-transparent m-text-lined">关于我</h4>
                <p class="m-text-thin m-text-spaced m-transparent m-text-lined">一点一点来, 才比较快!</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-transparent m-text-lined">© 2020 红杏笔记 红杏笔记 隐私政策 京ICP证0000000号
            京ICP备########号</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".m-menu-btn").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown({
        on: "hover"
    });
</script>
</body>
</html>