<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="commons :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>关于我</title>
</head>
<body>
<!--导航-->
<nav th:replace="commons :: menu(5)"></nav>
<!--中间内容-->
<div class="m-padding-bottom-max">

    <!--semantic自带容器,有响应式效果        -->
    <div class="ui container" style="width: 80%;">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/id/1048/800/600" alt="" class="ui fluid image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui segment">
                    <div class="ui top orange attached segment">
                        <div class="ui header">关于我</div>
                        <p class="">
                            不成熟男人的标志是可以为了理想壮烈的牺牲，
                            成熟男人的标志是可以为了理想卑贱的活着。
                        </p>
                        <p class="">那一夜，我也曾梦见百万雄兵。</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui red basic label m-margined-bt-middle">编码</div>
                        <div class="ui red basic label m-margined-bt-middle">游戏</div>
                        <div class="ui red basic label m-margined-bt-middle">台球</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui orange basic label m-margined-bt-middle">java</div>
                        <div class="ui orange basic label m-margined-bt-middle">MySQL</div>
                        <div class="ui orange basic label m-margined-bt-middle">Vue</div>
                        <div class="ui orange basic label m-margined-bt-middle">消息队列</div>
                        <div class="ui orange basic label m-margined-bt-middle">Linux</div>
                    </div>
                    <div class="ui attached segment">
                        <a href="https://github.com/qubaolai/blog" target="_blank"
                           class="ui circular icon button m-show-git" data-content="转到GitHub">
                            <i class="github icon"></i>
                        </a>
                        <a href="#" class="ui circular icon button m-show-vchat">
                            <i class="weixin icon"></i>
                        </a>
                        <a href="#" class="ui circular icon button m-show-qq" data-content="QQ: 2424419428">
                            <i class="qq icon"></i>
                        </a>
                    </div>
                    <!--二维码-->
                    <div class="ui m-vchat flowing popup transition hidden">
                        <img src="../static/images/wechat.jpg" alt="" class="ui rounded bordered image"
                             style="width: 140px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="commons :: foot(${session.recommendBlog})"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".m-menu-btn").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $(".m-show-qq").popup({
        //应用位置
        position: "bottom center"
    });
    $(".m-show-vchat").popup({
        popup: $(".m-vchat"),
        //应用位置
        position: "bottom center"
    });
    $(".m-show-git").popup({
        //应用位置
        position: "bottom center"
    });
</script>
<th:block th:replace="commons :: script" />
</body>
</html>