<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="commons :: head(~{::title})">
    <title>归档</title>
</head>
<body>
<!--导航-->
<nav th:replace="commons :: menu(4)"></nav>
<!--中间内容-->
<div class="m-padding-bottom-max">
    <!--semantic自带容器,有响应式效果        -->
    <div class="ui container" style="width: 70%;">
        <!--头部-->
        <div class="ui top padded attached segment">
            <!--middle aligned垂直方向居中-->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui orange header">归档</h3>
                </div>
                <div class="right aligned column m-text-spaced-middle">
                    共<h3 class="ui teal header m-inlined m-text-thin" th:text="${count}">111</h3>篇
                </div>
            </div>
        </div>
        <div class="ui segment">
            <th:block th:each="item : ${archive}">
                <h2 class="ui center aligned header" th:text="${item.key}">2018</h2>
                <div class="ui fluid vertical menu">
                    <a href="#" class="item" th:each="blog : ${item.value}" th:href="@{/blog/details/{id}(id=${blog.id})}">
                        <span>
                            <i class="mini orange circle icon"></i><span th:text="${blog.title}">学习记录</span>
                            <div class="ui orange basic left pointing label m-padding-mini m-text-thin" th:text="${#dates.format(blog.updateTime,'MM-dd')}">9月03</div>
                        </span>
                        <div class="ui teal basic label" th:text="${blog.flag}">原创</div>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="commons :: foot(${session.recommendBlog})"></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".m-menu-btn").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
</script>
<th:block th:replace="commons :: script" />
</body>
</html>