/*导航阴影*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}
.m-padding-bt-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padding-mini {
    padding: 0.2em !important;
}

.m-padding-medium {
    padding: 1em !important;
}

.m-padding-lr-responsive {
    margin-left: 4em !important;
    margin-right: 4em !important;
}

/*外间距*/
.m-margined-bt-middle {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.m-margin-top {
    margin-top: 1.5em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

/*最大间距*/
.m-padding-bottom-maximum {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*次级间距*/
.m-padding-bottom-max {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

/*再次级间距*/
.m-padding-bottom-big {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

/*中级间距*/
.m-padding-bottom-middle {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}

.m-a-black {
    color: #3d3e3f !important;
}

.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8em !important;
}

/*字体粗细*/
.m-text-thin {
    font-weight: 300 !important;
}

/*字间距*/
.m-text-spaced {
    letter-spacing: 1px !important;
}

/*字间距中*/
.m-text-spaced-middle {
    letter-spacing: 3px !important;
}

/*行间距*/
.m-text-lined {
    line-height: 1.8em !important;
}

/*透明度*/
.m-transparent {
    opacity: 0.8;
}

/*行内元素*/
.m-inlined {
    display: inline !important;
}

/*菜单位置*/
.m-position {
    position: absolute;
    top: 1em !important;
    right: 0 !important;
}

/*手机端按钮隐藏*/
.m-mobile-btn-show {
    display: none !important;
}

/*定位样式*/
.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-bottom {
    bottom: 2em !important;
    right: 0 !important;
}

.m-container-small {
    max-width: 30em !important;
    margin: auto !important;
}

.m-padded-tb-massive {
    padding-top: 15em !important;
    padding-bottom: 5em !important;
}
/*后台背景*/
.m-admin-back {
    background-image: url(/static/images/adminBack.jpg);
}

/*手机端样式*/
@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    /*改变搜索框*/
    .m-search-position {
        /*width: 10em !important;*/
        /*height: 2em !important;*/
        /*position: absolute !important;*/
        /*top: -2.8em !important;*/
        /*left: 15em !important;*/
        display: none !important;
    }

    /*显示按钮*/
    .m-mobile-btn-show {
        display: block !important;
    }

    /*文本*/
    .m-padding-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-wide {
        width: 100% !important;
    }

    .m-image {
        width: 60% !important;
    }
}